<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <!-- Botão de voltar -->
    <ion-buttons slot="start" style="color: white">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <!-- Título principal e secundário -->
    <div class="toolbar-titles">
      <span class="titulo-principal">Detalhes da Inspeção</span>
      <span class="subtitulo-secundario">Colaboradores e observações</span>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <!-- Descrição da atividade -->
  <ion-card>
    <ion-card-header>
      <ion-card-title class="titulo">Descrição da Atividade</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-textarea placeholder="Digite a descrição das atividades realizadas durante a inspeção..." [(ngModel)]="descricaoAtividade" autoGrow="true"></ion-textarea>
    </ion-card-content>
  </ion-card>

  <!-- Adicionar colaboradores -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Colaboradores</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-input placeholder="Nome do colaborador" [(ngModel)]="novoColaborador"></ion-input>
        <ion-button slot="end" (click)="adicionarColaborador()">Adicionar</ion-button>
      </ion-item>

      <ion-list>
        <ion-item *ngFor="let colaborador of colaboradores; let i = index">
          <ion-label>{{ colaborador }}</ion-label>
          <ion-button fill="clear" color="danger" slot="end" (click)="removerColaborador(i)">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- Observações -->
  <ion-card>
    <ion-card-header>
      <ion-card-title class="titulo">Observações</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-textarea placeholder="Digite suas observações adicionais, não conformidades encontradas, ações corretivas necessárias..." [(ngModel)]="observacoes" autoGrow="true"></ion-textarea>
    </ion-card-content>
  </ion-card>

  <!-- Botão de ir para resumo -->
  <ion-button class="botao" shape="round" size="large" expand="block" routerLink="/resumo" (click)="enviarResumo()">
    <ion-img class="icon margin" src="assets/relatorio.svg" slot="start"></ion-img>
    <span>Ver Resumo</span>
  </ion-button>

</ion-content>
