#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.text-color-white {
  color: #fff;
}

/*.item-border-radius {
  border-radius: 15px;
}´

.item-padding {
  padding-top: 50px;
}*/

.ion-grid-column-padding {
  --ion-grid-column-padding: 20px;
}

.ion-grid-text-color {
  color: #fff;
}

.ion-grid-border-radius {
  border-radius: 15px;
}

.ion-grid-column-color-primary {
  background-color: #0054e9;
}

.ion-grid-column-color-light {
  background-color: #f4f5f8;
}

.ion-grid-column-margin {
  margin-bottom: 10px;
}

.ion-grid-column-padding-title {
  --ion-grid-column-padding: 3px;
}

.ion-grid-text-color-subtitle {
  color: rgb(219 234 254);
}