#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 18px;
}

#container p {
  font-size: 16px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.text-color-white {
  color: #fff;
}

.ion-grid-column-padding {
  --ion-grid-column-padding: 15px;
}

.ion-grid-text-color {
  color: #fff;
}

.ion-grid-border-radius {
  border-radius: 10px !important;
}

.ion-grid-column-color-primary {
  background-color: #0054e9;
}

.ion-grid-column-color-light {
  background-color: #f4f5f8;
}

.ion-grid-column-margin {
  margin-bottom: 10px;
}

.ion-grid-column-padding-title {
  --ion-grid-column-padding: 0px;
}

.ion-grid-column-estatisticas {
  --ion-grid-column-padding: 5px;
}

.ion-grid-column-color-danger-light {
  background-color: rgba(197, 0, 16, 0.11); //hex da cor #c5000f
}

.ion-grid-column-color-success-light {
  background-color: rgba(53, 185, 101, 0.123); //hex da cor #c5000f
}

.estatisticas-text-size {
  font-size: 200%;
  font-weight: 700;
}


// titulos Menu Principal e estatisticas rapidas
.titulo {
  color: rgba(0, 0, 0, 0.781);
  font-weight: 600;
}

//nova inspecao
.ion-grid-column-color-primary {
  background-color: #0054e9;
  border-radius: 15px;
  overflow: hidden;
}

.ion-grid-column-color-primary ion-item {
  --background: transparent;
  --padding-start: 0;
  --padding-end: 0;
}

.texto-branco ion-card-title,
.texto-branco ion-card-subtitle,
.texto-branco ion-icon {
  color: white;
}



// historico
.ion-grid-column-color-light {
  background-color: #e4e4e4 !important;
  border-radius: 15px;
  overflow: hidden;
}

.ion-grid-column-color-light ion-item {
  --background: transparent;
  --padding-start: 0;
  --padding-end: 0;
}

.texto-preto ion-card-title,
.texto-preto ion-card-subtitle,
.texto-preto ion-icon {
  color: black;
}



// FUNDO PAGINA
ion-content {
  --background: #dbe9ff; 
}

.ion-grid-column-color-light,
ion-card {
  background-color: #ffffff;
  border-radius: 15px;
}

ion-card {
  margin: 20px !important;
  padding: 10px;
}


//titulo e subtitulo principais
ion-toolbar {
  --background: #0054e9;
  padding: 15px !important;
}

.toolbar-titles {
  display: flex;
  flex-direction: column;
}

.titulo-principal {
  color: #ffffff;
  font-weight: 700; 
  font-size: 18px;  
  padding-bottom: 5px;
}

.subtitulo-secundario {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
}

// estatisticas 